# Dependencies
node_modules/
coverage/
dist/
.vscode/
# ignore compiled JS, type declarations and source maps everywhere
**/*.js
**/*.d.ts
**/*.js.map

example-client/
codesandbox/

!scripts/*.js
!vite.config.js
!vitest.config.js
!rollup*.js